<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="{{x.pageDescription}}">
    <meta name="keywords" content="{{x.pageKeyword}}">
    {{> chead}}
    <title>{{x.pageTitle}}</title>

</head>

<body>

    {{> frontheader}}
    <img src="/images/upload_image/{{x.pagePhoto}}" alt="img" width="100%">
    <h1>{{{x.pageTitle}}}</h1>
    <p> {{{x.PageDetails}}}</p>
    {{> frontfooter}}

</body>

</html>